@import url("switcher.css");

#camera-content>.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#main-video {
    display: none;
}

.output-canvas {
}

#camera-content {
    display: flex;
    justify-content: center;
}

.upper-content {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-direction: row;
}

.buttons>div:active {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.cl-btn-6 {
    position: relative;
    width: 30px;
    cursor: pointer;
}
.cl-btn-6-in {
    width: inherit;
    text-align: center;
    user-select: none;
}
.cl-btn-6-txt {
    font-size: 5px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #337AB7;
    transition: all .1s ease-in;
    opacity: 0;
    cursor: pointer;
    font-family: Verdana;
    user-select: none;
}
.cl-btn-6-in:before, .cl-btn-6-in:after {
    position: absolute;
    content: '';
    height: 4px;
    width: inherit;
    background: #337AB7;
    left: 0;
    transition: all .1s ease-in;
}
.cl-btn-6-in:before {
    top: calc(50% - 4px);
    transform: rotate(45deg);
}
.cl-btn-6-in:after {
    bottom: 50%;
    transform: rotate(-45deg);
}
.cl-btn-6:hover .cl-btn-6-txt {
    opacity: 1;
}
.cl-btn-6:hover .cl-btn-6-in:before,
.cl-btn-6:hover .cl-btn-6-in:after {
    transform: rotate(0);
}
.cl-btn-6:hover .cl-btn-6-in:before {
    top: 0;
}
.cl-btn-6:hover .cl-btn-6-in:after {
    bottom: 0;
}