<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
    <title>Teeth</title>
</head>

<body>
<div class="container">
    <video id="main_video" style="display: none" playsinline></video>
    <canvas class="output_canvas">
    </canvas>
    <div id="log"></div>
    <button id="accept" style="width: 100px; height: 50px">Accept</button>
    <button id="get_res" style="width: 100px; height: 50px">Get result</button>
    <button id="switch_camera" style="width: 100px; height: 50px">Switch camera</button>
    <div id="res"></div>
</div>
</body>
</html>
<script src="video_handler.js"></script>
<script type="module">

    (function () {    var old = console.log;    var logger = document.getElementById('log');    console.log = function (message) {        if (typeof message == 'object') {            logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '<br />';        } else {            logger.innerHTML += message + '<br />';        }    }})();

    const canvasElement = document.getElementsByClassName('output_canvas')[0];
    const canvasCtx = canvasElement.getContext('2d');
    let videoElement = document.getElementById("main_video")
    videoElement.addEventListener('loadedmetadata', function() {
        canvasElement.width = document.documentElement.clientWidth;
        canvasElement.height = (canvasElement.width/videoElement.videoWidth)*videoElement.videoHeight;
    });

    const faceMesh = new FaceMesh({locateFile: (file) => {
            return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
        }});
    faceMesh.setOptions({
        maxNumFaces: 1,
        refineLandmarks: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5
    });

    faceMesh.onResults(mainRecognizer);

    function confirmation () {
        faceMesh.onResults(fixScaling);
    }

    let mediaDevices = await navigator.mediaDevices.enumerateDevices();
    mediaDevices = mediaDevices.filter(device => device.kind === "videoinput");
    let back_camera = mediaDevices[mediaDevices.length-1];
    let front_camera = mediaDevices[0];

    let constraints = {
        audio: false,
        video: {
            facingMode: "environment",
            deviceId: back_camera.deviceId,
        }
    }

    let camera = new Camera(constraints, async () => {
        await faceMesh.send({image: videoElement});
        faceMesh.onResults(mainRecognizer);
    });

    function revertCamera () {
        let camera_constraints = camera.constraints;
        if (camera_constraints.deviceId === back_camera.deviceId) {
            camera_constraints.video = front_camera.deviceId;
        } else {
            camera_constraints.video = back_camera.deviceId;
        }

        camera.restart(camera_constraints, async () => {
            await faceMesh.send({image: videoElement})
        })
    }

    document.getElementById("accept").onclick = confirmation;
    document.getElementById("get_res").onclick = get_result;
    document.getElementById("switch_camera").onclick = revertCamera;
</script>
<script src="hands_recognizer.js"></script>