<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
    <title>Teeth</title>
</head>

<body>
<div class="container">
    <video id="main_video" style="display: none" playsinline></video>
    <canvas class="output_canvas" style="margin-bottom: 100px;">
    </canvas>
    <div id="log"></div>
    <button id="accept" style="width: 200px; height: 100px">Accept</button>
    <button id="get_res" style="width: 200px; height: 100px; margin-left: 70px;">Get result</button>
    <button id="switch_camera" style="width: 200px; height: 100px; margin-left: 70px;">Switch camera</button>
    <div id="res"></div>
</div>
</body>
</html>
<script src="video_handler.js"></script>
<script type="module">
    const canvasElement = document.getElementsByClassName('output_canvas')[0];
    const canvasCtx = canvasElement.getContext('2d');
    let videoElement = document.getElementById("main_video")
    function dataload () {
        canvasElement.width = document.documentElement.clientWidth - 20;
        canvasElement.height = (canvasElement.width/videoElement.videoWidth)*videoElement.videoHeight;
    }

    const faceMesh = new FaceMesh({locateFile: (file) => {
            return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
        }});
    faceMesh.setOptions({
        maxNumFaces: 1,
        refineLandmarks: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5
    });

    faceMesh.onResults(mainRecognizer);

    function confirmation () {
        faceMesh.onResults((results) => {fixScaling(results); faceMesh.onResults(mainRecognizer)});
    }

    let mediaDevices = await navigator.mediaDevices.enumerateDevices();
    mediaDevices = mediaDevices.filter(device => device.kind === "videoinput");
    let back_camera = mediaDevices[mediaDevices.length-1];
    let front_camera = mediaDevices[0];
    let constraints = {
        audio: false,
        video: {
            facingMode: "environment",
            deviceId: back_camera.deviceId,
        }
    }

    let camera = new Camera(constraints, async () => {
        await faceMesh.send({image: videoElement});
        faceMesh.onResults(mainRecognizer);
    }, dataload);

    function revertCamera () {
        let camera_constraints = camera.constraints;
        if (camera_constraints.video.deviceId === back_camera.deviceId) {
            camera_constraints.video.deviceId = front_camera.deviceId;
        } else {
            camera_constraints.video.deviceId = back_camera.deviceId;
        }

        camera.restart(camera_constraints, async () => {
            await faceMesh.send({image: videoElement});}, dataload)
    }

    document.getElementById("accept").onclick = confirmation;
    document.getElementById("get_res").onclick = get_result;
    document.getElementById("switch_camera").onclick = revertCamera;
</script>
<script src="hands_recognizer.js"></script>
